name: Build and Release

on:
  push:
    tags:
      - 'v*' # v1.0 などのタグがプッシュされた時に起動

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyautogui pygetwindow Pillow screeninfo PyPDF2 reportlab pyinstaller

    - name: Build with PyInstaller
      run: |
        python build.py

    - name: Create Zip
      run: |
        powershell Compress-Archive -Path dist/Jisui-kindle2pdf/* -DestinationPath Jisui-kindle2pdf.zip

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        files: Jisui-kindle2pdf.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}